---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

<h1>Publications (Last Updated: November 2025)</h1>
<p>A total of 43 papers (40 published) and 19 first-author papers (including 1 co-first-author paper, 16 published)</p>
<ul>
  <li>All papers: 819 citations with h-index=17 on <a href="https://ui.adsabs.harvard.edu/public-libraries/Ln4PKrMJTI2KGSaYTUw6Rw">ADS Library</a> or 629 citations with h-index=14 on <a href="https://scholar.google.com/citations?user=KaFqyosAAAAJ&hl=en">Google Scholar</a></li>
  <li>First-author papers: 490 citations with h-index=14 on <a href="https://ui.adsabs.harvard.edu/public-libraries/EdHwMSxRRl2BoDUnTf_j3Q">ADS Library</a></li>
</ul>

<h1>My Selected Preferred Papers</h1>
<ol reversed>
  {% assign papers = site.data.selected-papers %}
  {% for paper in papers %}
    <li>
      <a href="{{ paper.link }}">{{ paper.title }}</a>
      <br>
      {{ paper.authors }}
      <br>
      {{ paper.journal }} (<a href="https://arxiv.org/abs/{{ paper.arxiv }}">arXiv:{{ paper.arxiv }}</a>)
      <br>
      {% if paper.highlight %}
        <strong>Highlight</strong>: {{ paper.highlight }}
        <br>
      {% endif %}
      <span class="__dimensions_badge_embed__" data-doi="{{ paper.doi }}" data-style="small_rectangle"></span>
      <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
    </li>
  {% endfor %}
</ol>

<h1>My Paper List</h1>
<ol reversed>
  {% assign papers = site.data.papers %}
  {% assign current_year = "" %}

  {% for paper in papers %}
    {% assign year = paper.journal | split: ", " | last | slice: -4, 4 %}

    {% if year != current_year %}
      <h2>{{ year }}</h2>
      {% assign current_year = year %}
    {% endif %}

    <li>
      <a href="{{ paper.link }}">{{ paper.title }}</a>
      <br>
      {{ paper.authors }}
      <br>
      {{ paper.journal }} 
      {% if paper.arxiv %}
        (<a href="https://arxiv.org/abs/{{ paper.arxiv }}">arXiv:{{ paper.arxiv }}</a>)
      {% endif %}
      <br>
      <span class="__dimensions_badge_embed__" data-doi="{{ paper.doi }}" data-style="small_rectangle"></span>
      <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
    </li>
  {% endfor %}
</ol>

</ol>
